@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@300&display=swap");

#root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding-bottom: 100px;
}

body {
    background-color: #EEEEEE;

    font-family: Poppins, sans-serif;

    margin: 0;
    
    height: 100%;
}

.main {
    width: 80%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    background-color: #FFFFFF;

    width: 100%;

    margin: 0 auto;
    padding: 10px;

    border-radius: 10px;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);

    box-sizing: border-box;
}

ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    
    text-decoration: none;

    transition: 200ms;
}

a:hover {
    color: #7E57C2;
}

.title {
    margin: 0 auto;
}

.main .title {
    margin: 0;
}

.description {
    font-family: Raleway, sans-serif;
    
    margin-top: 0;
    margin-bottom: 0;
}

input {
    border: 3px solid #673AB7;
    border-radius: 5px;

    min-height: 25px;

    outline: none;

    transition: 200ms;

    font-family: Raleway, sans-serif;
    font-weight: bold;

    box-sizing: border-box;

    font-size: inherit;
}

input:focus {
    border-color: #7E57C2;
}

input:invalid {
    border-color: #E91E63;
}

form:has(input:invalid) [type=submit] {
    pointer-events: none;

    background-color: #E91E63;
}

button {
    display: inline-block;

    padding: 5px;

    border: none;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);

    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF;

    background-color: #673AB7;

    cursor: pointer;

    border-radius: 5px;

    transition: 200ms;
}

.content button {
    box-shadow: none;
}

button:hover {
    background-color: #7E57C2;
}