:root {
    --shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);

    --main-color: #7E57C2;
    --secondary-color: #673AB7;
    --error-color: #E91E63;

    --border: 10px;

    --transition: 200ms;
}

body {
    background-color: #EEEEEE;

    font-family: Poppins, sans-serif;
    font-size: 18px;
}

.centered {
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--border);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--border);
}

#root {
    display: flex;
    flex-direction: column;
    gap: var(--border);

    padding-bottom: calc(var(--border) * var(--border));
}

.main {
    width: 80%;

    margin: 0 auto var(--border);

    display: flex;
    flex-direction: column;
    gap: var(--border);
}

.content {
    background-color: #FFFFFF;

    width: 100%;

    margin: 0 auto;
    padding: var(--border);

    border-radius: var(--border);

    box-shadow: var(--shadow);

    box-sizing: border-box;
}

ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    
    text-decoration: none;

    transition: var(--transition);
}

a:hover, .clickable:hover {
    color: var(--main-color);
}

.title {
    margin: 0 auto;
}

.main .title {
    margin: 0;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 14px;
}

.error {
    color: var(--error-color);
}

.description {
    font-family: Raleway, sans-serif;

    margin: 0;

    color: #757575;
}

.small {
    font-size: 14px;
}

input, textarea {
    border: 3px solid var(--main-color);
    border-radius: 5px;

    min-height: 25px;

    outline: none;

    transition: var(--transition);

    font-family: inherit;

    box-sizing: border-box;

    font-size: inherit;

    flex-grow: 1;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border-color: var(--secondary-color);
}
input:invalid, textarea:invalid {
    border-color: var(--error-color);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;

    margin: 0;
}

form:has(input:invalid) [type=submit] {
    pointer-events: none;

    background-color: var(--error-color);
}

button {
    display: inline-block;

    padding: 5px;

    border: none;

    box-shadow: var(--shadow);

    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF;

    background-color: var(--main-color);

    cursor: pointer;

    border-radius: 5px;

    transition: var(--transition);
}
button:hover {
    background-color: var(--secondary-color);
}

.content button {
    box-shadow: none;
}

.clickable {
    cursor: pointer;

    transition: var(--transition);
}

.icon {
    width: 24px;
    height: 24px;

    display: block;
}

.icon.small {
    width: 18px;
    height: 18px;
}
.icon.active {
    fill: var(--main-color);
}

.clickable.icon:hover {
    fill: var(--main-color);
}

.info-bar {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.option-bar {
    justify-content: flex-end;
    align-items: flex-end;
}
.option-bar .icon {
    fill: #757575;
}