.user-avatar {
    width: 128px;
    height: 128px;
}

.content.user-header {
    gap: 25px;
}
.user-header .column {
    gap: 0;
}

.main.user-profile {
    gap: 25px;
}

.user-description {
    justify-content: space-between;
}
.user-item {
    align-items: center;
}