.thread-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thread-list li .title {
    margin-bottom: 5px;
}

.thread-list li .description::before {
    content: "";

    display: block;

    background-image: url("../../../../public/icons/user.svg");
    background-size: cover;

    width: 18px;
    height: 18px;

    float: left;

    margin-right: 5px;
}

.btn {
    margin: 0 auto;
}