.rti--container {
    --rti-s: 5px;

    border: 3px solid var(--main-color) !important;
}
.rti--container:focus-within {
    box-shadow: none !important;
}

.rti--tag {
    background: var(--main-color) !important;

    color: #FFFFFF;

    font-size: 14px;
}
.rti--tag button:hover {
    background: none;

    color: #FFFFFF !important;
}

.tags {
    flex: 1;
}

.suggestions ul {
    display: flex;
    flex-direction: row;
    gap: var(--border);
}

.remove-button, .remove-button:hover {
    background: none;
    padding: 0;
}

.tag {
    color: #FFFFFF;
    background: var(--main-color);

    font-size: 14px;

    border-radius: 5px;

    padding: .1rem;

    display: flex;
    gap: 3px;
}

.tag-input {
    flex-grow: 1;

    min-width: 40%;
}

.selected-tags {
    flex-wrap: wrap;
}

.suggestions li {
    cursor: pointer;
}

.user-suggestions button {
    font-size: 14px;
}

.search input {
    flex: 1;
}